#parte_loghi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;
    padding: 3%;
    background-color: #F5F5F5;
}

.ic {
    font-size: 4rem;
    font-weight: 700;
    text-align: -webkit-center;
}

#email {
    border-color: transparent;
    border-bottom-color: #000000;
    color: #9D9D9D;
    font-size: 4rem;
    padding-bottom: 4%;
}

.send {
    background-color: #9D9D9D;
    height: 10.48;
    color: #ffffff;
    font-size: 14px;
    border-color: transparent;
    justify-content: center;
    border-radius: 10%;
}

h3 {
    font-size: 6rem;
}

#story {
    font-size: 10px;
    color: #9D9D9D;
    padding-top: 5%;
}

.parte_descrittiva {
    padding: 3.90% 11.25% 8.5% 10.5%;
}

.lista {
    margin-left: 6.75%;
}

.lista h4 {
    padding-left: 5%;
    height: 6rem;
}

ul>li {
    list-style: none;
    font-size: 4rem;
    line-height: 8rem;
}

.parent h4 {
    font-size: 4rem;
    font-weight: 700;
    text-justify: inter-word;
    vertical-align: center;
}


/************PARTE FINE PAGINA************/

.contieni {
    padding-top: 15%;
}

.content-loghi {
    font-size: 4rem;
    height: 120px;
    text-align: center;
    padding-top: 7%;
}

.content-loghi a {
    text-decoration: none;
}

.cont_foot {
    height: 48px;
    background-color: #000000;
    text-align: center;
}

.cont_foot ul {
    padding: 0;
}

.cont_foot ul>li {
    display: inline;
    list-style-type: none;
    color: #ffffff;
    font-size: 10px;
    font-weight: 600;
}

@media screen and(min-width: 1024px) {

    #parte_loghi {
        padding-top: 200px;
        padding-bottom: 100px;
    }

    .cont-accfin,
    .panfin,
    .panfin ul,
    .panfin ul li,
    .accfin {

        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
    }

    .content-loghi {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.86%;
        height: 100px;
        padding-top: 1%;
        font-size: 4rem;
        font-weight: 800;
    }

    #zona_mail {
        display: grid;
        grid-template-columns: 50% 25% 25%;
        padding-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #email {
        width: 65%;
    }

    .parent .piu {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

@media screen and (max-width: 1023px) {
    .contieni {
        overflow-x: scroll;
        background-color: #F5F5F5;
        padding-top: 30%;
    }

    #parte_loghi {
        overflow: auto;
        width: 200%;
    }

    #parte_loghi ic {
        display: inline-block;
    }


    #email {
        width: 100%;
        padding-top: 63px;
    }

    .send {
        margin: 13% 5%;
    }

    .parte_descrittiva {
        height: 447px;
        padding: 8.94% 7.339%;
    }

    .lista {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    .accordion,
    .panel {
        visibility: visible;
    }

    .accordion {
        display: flex;
        justify-content: space-between;
        background-color: #F5F5F5;
        padding: 3%;
        margin-bottom: 1%;
        width: 100%;
        border-color: transparent;
        vertical-align: center;
        font-size: 15px;
        transition: 0.4s;
    }

    .panel {
        padding: 0 18px;
        display: none;
        overflow: hidden;
    }

    .cont_foot {
        height: 110px;
    }

}