header {
    z-index: 1;
    position: fixed;
    width: 100%;
}

.linea {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1.5%;
    background-color: #000000;
    height: 8rem;
    font-size: 3rem;
    color: #ffffff;
    font-weight: 700;
}

.menu_navigazione {
    display: flex;
    height: 13.16%;
    align-items: center;
    justify-content: space-between;
    font-size: 4rem;
    background-color: #ffffff;
}

.menu_navigazione nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text a:hover,
.icon a:hover {
    color: #bc3063b4;
    font-size: larger;
}

nav a {
    text-decoration: none;
    color: #000000;
}

#logo {
    padding: 8rem;
    font-size: 19px;
    border: dashed 1px #000000;
}

@media screen and (min-width: 1023px) {

    nav .icon {
        visibility: hidden;
    }
}

@media screen and (max-width: 1024px) {

    .lista {
        font-size: 3rem;
    }

    .text {
        visibility: hidden;
        width: 0;
    }

    .icon {
        margin-left: 25%;
    }
}