@media screen and(min-width: 981px) {

    html {
        font-size: 4px;
        box-sizing: border-box
    }

    * {
        font-family: "Roboto", sans-serif;
        margin: 0
    }

    header {
        .icon {
            visibility: hidden;
        }
    }

    .principale {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        row-gap: 0.15%;
        column-gap: 0.15%;
        padding-top: 7%;
    }

    .immagini {
        background-size: cover;
        background-position: center;
        height: 531px;

    }

    #a {
        background-image: url(../../RES/fragola_single.jpg);
    }

    #b {
        background-image: url(../../RES/sezione_fragola.jpg);
        background-position-y: 60%;
    }

    #c {
        background-image: url(../../RES/fragole_gruppo.jpg);
    }

    #d {
        background-image: url(../../RES/fragole_coda.jpg);
        background-position-y: 25%;
    }

    #price {
        grid-row: 1/2;
        grid-column: 3;

        .aggiungiAllaWishlist {
            width: 64px;
        }
    }

    #price>button {
        width: 72.368%;
    }

    .carousel {
        visibility: hidden;
        height: 0;
    }

    .accordion,
    .panel {
        width: 56.43%;
        margin-left: 5.08%;
        margin-top: 40px;
        margin-bottom: 80px;
        font-size: 4rem;
    }
}