@import '_header';
@import '_footer';
@import '_listaMax';
@import '_listaMin';

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 4px;
}

#inizioLista {
    background-color: #f5f5f5;
    color: #6B6B6B;
    font-size: 14px;
    width: 100%;
}

.spazio {
    display: flex;
    justify-content: space-between;
    height: 70px;
}

.img {
    position: relative;
    background-size: cover;
    background-position: center;

}

.new {
    position: absolute;
    top: 2%;
    left: 0.5%;
    text-transform: capitalize;
    font-size: 10px;
}

.x {
    position: absolute;
    bottom: 2%;
    left: 0.5%;
    font-size: 10px;
}

.AggiungiAllaWishList {
    position: absolute;
    background-color: transparent;
    border-color: transparent;
    right: 0.5%;
    top: 2%;
}

.descrizione {
    width: 100%;
    height: 195px;
    background-color: #f5f5f5;
    font-size: 14px;
}

h5 {
    font-weight: 700;
}