@import '_typography';
@import '_header';

#prima_sezione {
    background-image: url("../../RES/fragoline.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 5%;
    height: 685px;
}

.main_sec {
    background-color: #F5F5F5;
}

.flex-container {
    padding-top: 2%;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 50%;
    height: 800px;
    background-color: #ffffff;
}

.rev {
    flex-direction: row-reverse;
}

.img {
    background-image: url("../../RES/fragole_bianco.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}